
<div class="countries__box">    
            <ul class = " list country__list">
                {{#each this}}
                <li class ="country__item"> {{name}}
                </li>
                {{/each}}
            </ul>
            
</div>
